
/* defines a couple of colors to be used in this file (site.css). Example usage: var(--bg1)  */
:root {
	--bg1:#F0F0F0;
	--bg2:#E0E0E0;	
	--bg3:#D0D0D0;
	--bg4:#C0C0C0;		
	--bg5:#C0D0C0;		
	--bg6:#C0C0D0;	
	--bc1:#FFC0C0;
	--ic1:#F0D080;
	--ic2:#F0B080;	
}


html {
  font-size: 14px;
}

.container
{
	display:grid;
	grid-template-columns: repeat(2, 1fr);
	grid-template-rows: repeat(2,auto);
	grid-template-areas:
		"a b"
		"c c";
	gap: 10px;
	background-color: var(--bg4);
}

/* block */
#repos
{
	background-color: var(--bg1);
	grid-area: a;
}

/* block */
#branches
{
	background-color: var(--bg2);
	grid-area: b;	
}

/* block */
#commits
{
	background-color: var(--bg3);
	grid-area: c;
}

/* element of #commits */
.logentries
{
}

/* element of #commits */
.logentry
{
	display:flex;
}

/* element of #commits */
.logentry > div
{
	width:150px;
}
