@model List<GitBranch>
@{
    var repoPath = ViewBag.RepoPath as string;
}

<h2>Branches</h2>
<ul id="branch-list">
@foreach (var branch in Model)
{
    <li>
        <a href="#" class="branch-link" data-path="@repoPath" data-branch="@branch.Name">@branch.Name</a>
    </li>
}
</ul>
