
@model List<GitCommit>

<h2>Commits</h2>
<ul>
@foreach (var commit in Model)
{
    <li>
        <strong>@Html.Encode(commit.Sha.Substring(0, 7))</strong> - @Html.Encode(commit.Message)
        <br />
        <em>@Html.Encode(commit.Author)</em> on @commit.Date
    </li>
}
</ul>
