
@model List<GitCommit>

<h2>Commits s2</h2>
<div class="logentries">
@foreach (var commit in Model)
{
	<div class="logentry">
	<div>@Html.Encode(commit.Sha.Substring(0, 7))</div>
	<div>@Html.Encode(commit.AuthorDate)</div>	
	<div>@Html.Encode(commit.Author)</div>		
	<div>@Html.Encode(commit.Message)</div>
	</div>}
</div>
