
@model List<GitCommit>

<h2>Commits</h2>
<div class="commits">
@foreach (var commit in Model)
{
	<div class="commit">
	<div>@Html.Encode(commit.Sha.Substring(0, 7))</div>
	<div>@Html.Encode(commit.AuthorDate)</div>	
	<div>@Html.Encode(commit.Author)</div>		
	<div>@Html.Encode(commit.Message)</div>
	</div>}
</div>
