@model List<GitBranch>
@{
    var repoPath = ViewBag.RepoPath as string;
}

<h2>Branches</h2>
<ul>
@foreach (var branch in Model)
{
    <li>
        <a href="@Url.Action("Log", "Git", new { repoPath = repoPath, branchName = branch.Name })">@branch.Name</a>
    </li>
}
</ul>
