@model List<GitRepo>

<h2>Repositories</h2>
<ul id="repo-list">
@foreach (var repo in Model)
{
    <li>
        <a href="#" class="repo-link" data-path="@repo.Path">@repo.Name</a>
    </li>
}
</ul>

<div id="branches"></div>
<div id="commits"></div>

<script src="lib/jquery-3.6.0.min.js"></script>
