@model List<GitRepo>

<h2>Repositories</h2>
<ul id="repo-list">
@foreach (var repo in Model)
{
    <li>
        <a href="#" class="repo-link" data-path="@repo.Path">@repo.Name</a>
    </li>
}
</ul>

<div id="branches"></div>
<div id="commits"></div>

<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script>
$(document).on('click', '.repo-link', function(e) {
    e.preventDefault();
    var path = $(this).data('path');
    $('#commits').empty();
    $.get('/Git/Branches', { repoPath: path }, function(data) {
        $('#branches').html(data);
    });
});
</script>
