@model List<GitRepo>

<div class="repos panel">
<h2>Repositories</h2>
<ul class="repo-list">
@foreach (var repo in Model)
{
    <li>
        <a href="#" class="repo-link" data-path="@repo.Path" title="@repo.Path">@repo.Name</a>
    </li>
}
</ul>
</div>

<div class="branches panel"></div>
<div class="commits panel"></div>
<div class="changes panel"></div>


<script src="lib/jquery-3.6.0.min.js"></script>
